h1 {
	font-family: "Monaco", monospace;
	font-size: 40px;
}
h2 {
	font-family: "Monaco", monospace;
	font-size: 25px;
}
p {
	font-family: "Lucida Console", monospace;
	font-size: 20px;
}
input{
	background-color: #F4A460;
	border-radius: 20px;
	color: black;
	padding: 20px; 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
}
    
