body {
	background: "red";
}
h1 {
	font-family: "Monaco", monospace;
	font-size: 40px;

}
h2 {
	font-family: "Monaco", monospace;
	font-size: 25px;
}
h3 {
	font-family: "Monaco", monospace;
	font-size: 25px;
	color: #763DEE;
	font-style:bold;
	text-decoration: none;

}
h4 {
	font-family: "Monaco", monospace;
	font-size: 20px;
	font-style:bold;
}
p {
	font-family: "Lucida Console", monospace;
	font-size: 20px;
}
input[type=textline]{
	background-color: #F4A460;
	border-radius: 20px;
	color: black;
	padding: 20px;
	text-align: left;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
}
input[type=button]{
	background-color: #F4A460;
	border-radius: 20px;
	color: black;
	padding: 20px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
}
input[type=button][class=secret]{
	background-color: powderblue;
	border-radius: 0px;
	color: powderblue;
	padding: 20px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	border-color: powderblue;
	border: none;
}
input[type=submit]{
	background-color: #F4A460;
	border-radius: 20px;
	color: black;
	padding: 20px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
}
img[class=secret]{
	visibility: hidden;
}
textarea{
	background-color: #F4A460;
	border-radius: 20px;
	color: black;
	padding: 20px;
	text-align: left;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
}
table[class=typical]{
	background-color: #FFE4C4;
	border-radius: 20px;
	color: black;
	text-align: center;
	text-decoration: none;
	font-size: 16px;
	margin-left: auto;
	margin-right: auto;
}
ul{
	font-family: "Lucida Console", monospace;
	font-size: 20px;
}
aside{
	float:right;
	width:40%;
}
section{
	float:left;
	width:60%;
}
/* bar graph of skills */
table[class="graph"] {
	margin-bottom:10em;
	font:normal 100%/150% "Monaco", monospace;
}
/*
.graph {
	margin-bottom:10em;
	font:normal 100%/150% "Monaco", monospace;
}

*/
.graph caption {
	font:150%/120% "Monaco", monospace;
	font-style:bold;
	padding-bottom:0.33em;
}
.graph tbody th {
	text-align:right;
}


@supports (display:grid) {
	@media (min-width:32em) {
		.graph {
			display:block;
			width:700px;
			height:400px;
			margin-left: auto;
			margin-right: auto;
		}
		.graph caption {
			display:block;
		}
		.graph thead {
			display:none;
		}
		.graph tbody {
			position:relative;
			display:grid;
			grid-template-columns:repeat(auto-fit, minmax(2em, 1fr));
			column-gap:2.5%;
			align-items:end;
			height:100%;
			margin:3em 0 1em 2.8em;
			padding: 0 1em;
			border-bottom:2px solid rgba(0,0,0,0.5);
			background:repeating-linear-gradient(180deg, 
					rgba(170,170,170,0.7) 0, rgba(170,170,170,0.7) 1px, 
					transparent 1px, transparent 20%);
		}
		.graph tbody:before,
		.graph tbody:after {
			position:absolute;
			left:-3.2em;
			width:2.8em;
			text-align:right;
			font: bold 80%/120% "Monaco";
		}
		.graph tbody:before {
			content:"100%";
			top:-0.6em;
		}
		.graph tbody:after {
			content:"0%";
			bottom:-0.6em;
		}
		.graph tr {
			position:relative;
			display:block;
		}
		graph tr:hover {
			z-index:999;
		}
		.graph th,
		.graph td {
			display:block;
			text-align:center;
		}
		.graph tbody th {
			position:absolute;
			top:-3em;
			left:0;
			width:100%;
			font-weight:normal;
			text-align:center;
			white-space:nowrap;
			text-indent:0;
			transform:rotate(-60deg);
		}
		.graph tbody th:after {
			content:"";
		}
		.graph td {
			width:100%;
			height:100%;
			background: #F4A460;
			border-radius:0.5em 0.5em 0 0;
			transition: background 0.5s;
		}
		.graph tr:hover td {
			opacity:0.7;
		}
		.graph td span {
			overflow:hidden;
			position:absolute;
			left:50%;
			top:50%;
			width:0;
			padding: 0.5em 0;
			margin:-1em 0 0;
			font: normal 85%/120% "Monaco";
			font-weight:bold;
			opacity:0;
			transition:opacity 0.5s;
			color:white;
		}
		.toggleGraph:checked + table td span,
		.graph tr:hover td span {
			width:4em;
			margin-left:-2em;
			opacity:1;
		}
	}
   }
